@model TrasnporteAdmin.Models.EmpleadoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmpleadoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoTranscurrido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoTranscurrido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePasajero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePasajero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacaVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacaVehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraViaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraViaje)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
